<div id="setFrameView">
    <div crumbs seccurmbs="100199"></div>
    <div class="setStep">
        <img style="width:100%;" src="./img/step2.png" alt="">
    </div>
    <div title data="titleConfig" cid="1234567" version="1.0" block="全面质检" page="setFrame"></div>
    <div class="standWrap">
        <div class="standCon">
            <div mask-box des="{{des}}" height="20" allscreen="1">
                <img class="imgSrc" src="./img/3_1.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseenter="showTask=true">
            </div>
        </div>
    </div>
    <div class="standFoot">
        <a href="#/standRange">上一步</a>
        <a href="#/setWeight">下一步</a>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="setFrame"></comment>
</div>