<div id="newFrameView">
    <div crumbs seccurmbs="100199"></div>
    <div class="setStep">
        <img style="width:100%;" src="./img/step2.png" alt="">
    </div>
    <div title data="titleConfig" cid="123" version="1.0" block="全面质检" page="newFrame"></div>
    <div class="standWrap">
        <div class="standCon">
            <div class="nameWrap">
                <span>考核架构名称</span><input class="standName" value="A品牌-考核架构" type="text" placeholder="请输入考核架构名称">
            </div>
            <span>部门层级</span>
            <div mask-box des="{{des}}" height="20" allscreen="1">
                <img class="imgSrc" src="./img/6_1.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseenter="showTask=true">
            </div>
        </div>
    </div>
    <div class="standFoot">
        <a href="#/setFrame">返回</a>
        <a href="#/setWeight">完成</a>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="newFrame"></comment>
</div>