<div id="newSourceView">
    <div crumbs seccurmbs="100199"></div>
    <div class="setStep">
        <img style="width:100%;" src="./img/step3.png" alt="">
    </div>
    <div title data="titleConfig" cid="12" version="1.0" block="全面质检" page="newSource"></div>
    <div class="standWrap">
        <div class="standCon">
            <span class="typeTxt">数据类型:</span>
            <radios data="radioData" active="{{active}}" change="typeSelChange({key:key})"></radios>
            <div class="nameWrap">
                <span>来源名称</span>
                <input ng-if="typeSel==1" class="standName" type="text" value="点评" placeholder="请输入来源名称">
                <input ng-if="typeSel==3" class="standName" type="text" value="神秘考察" placeholder="请输入来源名称">
                <input ng-if="typeSel==4" class="standName" type="text" value="顾客投诉" placeholder="请输入来源名称">
                <b ng-if="typeSel==2">宾客满意度调查</b>
            </div>
            <div ng-if="typeSel==1" class="nameWrap clearfix">
                <span>请选择质检点评来源</span>
                <radios ng-if="typeSel==1" data="allSelData" active="{{active}}" inline="1" change="allSelChange({key:key})"></radios>
            </div>
            <div ng-if="typeSel==2||typeSel==3||typeSel==4" class="nameWrap">
                <a class="addQueData" href="#/addQue">+ 增加一份数据</a>
                <span ng-if="typeSel==2" class="importTip">已导入2份问卷数据</span>
                <span ng-if="typeSel==3" class="importTip">已导入2份结构化数据</span>
                <span ng-if="typeSel==4" class="importTip">已导入1份非结构化数据。非结构化数据将一并参与语义分析，并进行统计。</span>
             </div>
            <!--<div ng-if="typeSel==2||typeSel==3||typeSel==4" class="nameWrap clearfix" style="margin-bottom: 10px;">-->
                <!--<span ng-if="typeSel==2">问卷</span><span class="typeTxt">数据1</span>-->
                <!--<a href="javascript:;" style="float:right;">删除问卷</a>-->
                <!--<a ng-if="typeSel==2" href="javascript:;" style="float:right;">选择调查</a>-->
                <!--<a ng-if="typeSel==3||typeSel==4" href="javascript:;" style="float:right;">导入文档</a>-->
                <!--<a ng-if="typeSel!=4"  href="javascript:;" style="float:right;">设置维度</a>-->
            <!--</div>-->
            <div mask-box des="{{des}}" height="20" allscreen="1">
                <img ng-if="sel==1&&typeSel==1" class="imgSrc" src="./img/5_2.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                <img ng-if="sel!=1&&typeSel==1" src="./img/5_1.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                <img ng-if="typeSel==2" src="./img/5_3.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                <img ng-if="typeSel==3" src="./img/5_4.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                <img ng-if="typeSel==4" src="./img/5_5.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
            </div>
        </div>
    </div>
    <div class="standFoot">
        <a href="#/setWeight">返回</a>
        <a href="#/setWeight">完成</a>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="newSource"></comment>
</div>