<div id="singleStoreDataAnalysisView">
    <div crumbs home="100215" seccurmbs="100208"></div>
    <div class="setStep">
        <div class="top">{{title}}</div>
        <div class="bottom">
            <div class="sel">
                <span>请选择架构</span>
                <select-tree></select-tree>
                </select>
                <span>选数据来源</span>
                <select-check data="checkData"></select-check>
            </div>
            <div class="sel">
                <span>选择时间段</span>
                <dir-time start="2018-01-01" end="2018-01-31"></dir-time>

                <span>对比时间段</span>
                <select class="contrast">
                    <option value="{{x}}" ng-repeat="x in data.time">{{x}}</option>
                </select>
                <dir-time start="2017-12-01" end="2017-12-31"></dir-time>

                <button class="sub">确&nbsp;&nbsp;定</button>
            </div>
            <div>
                <div class="score clearfix">
                    <div class="title"><div title data="titleScoreCom" cid="991" version="1.0" block="全面质检" page="singleStoreDataAnalysis"></div></div>
                    <div>
                        <div mask-box des="{{des}}" height="20" allscreen="70%">
                            <img class="imgSrc" src="./img/7_1.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                        </div>
                    </div>
                </div>
                <div class="score clearfix">
                    <div class="title"><div title data="titleScoreAvg" cid="990" version="1.0" block="全面质检" page="singleStoreDataAnalysis"></div></div>
                    <div>
                        <div mask-box des="{{des}}" height="20" allscreen="70%">
                            <img class="imgSrc" src="./img/7_2.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standWrap">
        <div title data="titleConfig" cid="989" version="1.0" block="全面质检" page="singleStoreDataAnalysis"></div>
        <div class="power"><span class="powerTitle clearfix">显示权重</span><span class="{{powerCss}} clearfix" ng-click="power()"></span></div>
        <div class="standCon">
            <div class="top">
                <div mask-box des="{{des}}" height="20" allscreen="70%">
                    <img class="imgSrc" src="./img/7_3.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                </div>
            </div>
            <div class="bottom">
                <div mask-box des="{{des}}" height="20" allscreen="70%">
                    <img class="imgSrc" ng-if="powerOff" src="./img/7_4_1.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                    <img class="imgSrc" ng-if="powerOn" src="./img/7_4.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                </div>
            </div>
        </div>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="singleStoreDataAnalysis"></comment>
</div>