<div id="subordinateDataAnalysisView">
    <div crumbs home="100215" seccurmbs="100208"></div>
    <div class="setStep">
        <div class="top">{{title}}</div>
        <div class="bottom">
            <div class="sel">
                <span>请选择架构</span>
                <select-tree></select-tree>
                </select>
                <span>选数据来源</span>
                <select-check data="checkData"></select-check>
            </div>
            <div class="sel">
                <span>选择时间段</span>
                <dir-time start="2018-01-01" end="2018-01-31"></dir-time>

                <span>对比时间段</span>
                <select class="contrast">
                    <option value="{{x}}" ng-repeat="x in data.time">{{x}}</option>
                </select>
                <dir-time start="2017-12-01" end="2017-12-31"></dir-time>

                <button class="sub">确&nbsp;&nbsp;定</button>
            </div>
        </div>
    </div>
    <div class="standWrap">
        <div title data="titleScore" cid="880" version="1.0" block="全面质检" page="singleStore"></div>
        <div class="standCon">
            <div class="top">
                <div class><div class="avgDiv clearfix"><span>期望值：</span><input id="avgClickNoActive" ng-show="avgOn" class="avg" type="text" value="{{avgVal}}" ng-model="avgVal" ng-keyup="myKeyup($event)"><span class="avgImg" ng-show="avgOff">{{avgVal}}&nbsp;&nbsp;<img
                        src="./img/6_3.png" class="avgImages" alt="" id="avgClickNoActives" ng-click="avgChange()"></span></div></div>
                <div mask-box des="{{des}}" height="20" allscreen="70%">
                    <img class="imgSrc" src="./img/6_1.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                </div>
            </div>
        </div>
    </div>
    <div class="standWrap">
        <div title data="titleAll" cid="881" version="1.0" block="全面质检" page="singleStore"></div>
        <div class="standCon">
            <div class="bottom">
                <div mask-box des="{{des}}" height="20" allscreen="70%">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>酒店名称</td>
                            <td>综合得分</td>
                            <td>对比时间段得分</td>
                            <td>综合得分排名</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in data.table">
                            <td class="typeA"><a href="{{x.href}}">{{x.name}}</a></td>
                            <td>{{x.score}}</td>
                            <td>{{x.com}}</td>
                            <td>{{x.rank}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <img src="./img/6_2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="singleStore"></comment>
</div>