<div id="documentManagementView">
    <div crumbs home="100215" seccurmbs="100213"></div>
    <div class="setStep">
        <div class="top">{{title}}</div>
        <div class="bottom">
            <span >考核方案</span>
            <select class="inspection">
                <option ng-repeat="x in data.inspection" value="{{x}}">{{x}}</option>
            </select>
            <span>操作人</span>
            <select class="opera">
                <option ng-repeat="x in data.opera" value="{{x}}">{{x}}</option>
            </select>
            <span>操作时间</span>
            <dir-time start="2017-12-01" end="2017-12-31"></dir-time>
            <button class="sub">确&nbsp;&nbsp;定</button>
        </div>
    </div>
    <div class="standWrap">
        <div title data="titleConfig" cid="998" version="1.0" block="全面质检" page="operatingRecord"></div>
        <div class="standCon">
            <div mask-box des="{{des}}" height="20" allscreen="1">
                <img class="imgSrc" src="./img/1_1.png" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
            </div>
        </div>
    </div>
    <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="operatingRecord"></comment>
</div>