*{color: #2C3337; margin:0; padding:0;}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td{margin: 0; padding: 0;}
h1{font-size: 18px;}
h2{font-size: 16px;}
h3{font-size: 14px;}
h4,
h5,
h6{font-size: 100%;}
address,
cite,
dfn,
em,
var{font-style: normal;}
code,
kbd,
pre,
samp,
tt{font-family: "Arial,Courier New", Courier, monospace;}
small{font-size: 12px;}
ul,
ol,
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
abbr[title],
acronym[title]{border-bottom: 1px dotted; cursor: help;}
q:before,
q:after{content: '';}
legend{color: #000;}
fieldset,
img{border: none;}
button,
input,
select,
textarea{font-size: 100%;}
table{border-collapse: collapse; border-spacing: 0;}
hr{border: none; height: 1px;}
html{overflow-y: auto; overflow-x: auto;}
.clearfix{display: block;}
.clearfix:after{height: 0; content: "."; visibility: hidden; clear: both; font-size: 0; display: block;}
input{outline: none}
.bold{font-weight: bold;}
.fl{float: left;}
.fr{float: right;}
.textalin{text-align: center;}
body,
button,
input,
select,
textarea {font: 12px/1  Arial;}
body {
    background: #F3F3F3;
}