<div id="standListView">
    <div crumbs  seccurmbs="100199"></div>
    <div class="standWrap">
        <div title data="titleConfig" cid="1234" version="1.0" block="全面质检" page="addQue"></div>
        <div class="standCon">
            <div class="nameWrap">
                <span>请选择调查：</span>
                <radios data="radioData" active="{{active}}" change="change({key:key})" inline="1"></radios>
            </div>
            <div mask-box des="{{des}}" height="20" allscreen="1">
                <img ng-if="active==1" class="imgSrc" src="./img/7_1.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
                <img ng-if="active!=1"  class="imgSrc" src="./img/7_2.jpg" alt=""  ng-mouseleave="showTask=false"  ng-mouseover="showTask=true">
            </div>
        </div>
        <div class="standFoot">
            <a href="#/setWeight">返回</a>
            <a href="#/setWeight">下一步</a>
        </div>
        <comment ctitle="留言" cplaceholder="请留言" block="全面质检" version="1.0" pages="addQue"></comment>
    </div>
</div>